@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}



*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 5px;
  border: 1px;
}
body::-webkit-scrollbar-track {
  background: rgb(15, 23, 42, 1);
}

.project_card:nth-child(odd)::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0.1), rgba(0, 0, 0, 0.2)),
    url("./assets/images/bg-blur.webp") no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(18px);
  z-index: ;
}

.project_card:nth-child(even):after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0.1), rgba(0, 0, 0, 0.2)),
    url("./assets/images/bg-blur2.webp") no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(18px);
  z-index: 1;
}

.light:nth-child(odd)::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(255, 255, 255, .4), rgba(255, 255, 255, .8)),
    url("./assets/images/bg-blur.webp") no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(18px);
  z-index: 1;
}

.light:nth-child(even):after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(255, 255, 255, .4), rgba(255, 255, 255, .8)),
    url("./assets/images/bg-blur2.webp") no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(18px);
  z-index: 1;
}


.typing-demo {
  width: 15ch;
  animation: typing 2s steps(15), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
